### Part One

In [2]:
import findspark

In [3]:
findspark.init()

In [17]:
from pyspark import SparkContext
from pyspark.sql import SparkSession

In [21]:
spark = SparkSession.builder.appName('Basics').getOrCreate()

In [22]:
df = spark.read.json('people.json')

In [23]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [24]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [25]:
df.columns

['age', 'name']

In [27]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [28]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [30]:
from pyspark.sql.types import (StructField,StringType
                               ,IntegerType,StructType)

In [31]:
data_schema = [StructField('age', IntegerType()
                           , True), StructField('name', StringType(), True)]

In [32]:
final_struc = StructType(fields=data_schema)

In [33]:
df = spark.read.json('people.json',schema=final_struc)

In [34]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [38]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

### Part Two

In [40]:
# Returns single column dataframe
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [45]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [47]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [54]:
# Add column
# Does not modify dataframe as it is not inplace operation
df.withColumn('newAge',df['age'] * 2).show()

+----+-------+------+
| age|   name|newAge|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    60|
|  19| Justin|    38|
+----+-------+------+

In [51]:
df.withColumnRenamed('age','my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [55]:
df.createOrReplaceTempView('people')
results = spark.sql("SELECT * FROM people")
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [57]:
new_results = spark.sql("SELECT * FROM people where name = 'Andy'")
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+